.floatanimation {
  animation: float 1s ease infinite;
}


@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.RightOpenanimation {
  animation: rightopen 0.5s ease;
}


@keyframes rightopen {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.leftCloseanimation {
  animation: leftclose 0.5s ease forwards;
}


@keyframes leftclose {
  0% {
    left: 0;
  }
  100% {
    left: -500%;
    display: none;
  }
}


/* styles.css */

.toggle-button {
  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 0.5rem;
  position: relative;
  transition: background-color 0.3s ease;
}

.monthly-active {
  background-color: white;
  color: black;
}

.yearly-active {
  left: 100%;
  background-color: black;
  color: white;
}

.monthly-text,
.yearly-text {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.monthly-text {
  transform: translateX(0);
}

.yearly-text {
  transform: translateX(-100%);
}
