.floatanimation {
  animation: float 1s ease infinite;
}


@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.RightOpenanimation {
  animation: rightopen 0.5s ease;
}


@keyframes rightopen {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.leftCloseanimation {
  animation: leftclose 0.5s ease forwards;
}


@keyframes leftclose {
  0% {
    left: 0;
  }
  100% {
    left: -500%;
    display: none;
  }
}

