@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< Updated upstream
/* Add this to your component's CSS or global styles */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the scrollbar thumb */
    width: 6px; /* Set the width of the scrollbar thumb */
    height: 40px; /* Set the height of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: black; /* Set the color of the scrollbar track */
    border-radius: 6px; /* Set the border radius of the scrollbar track */
  }
  
  
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

:root{
    overflow-x: hidden;
}
>>>>>>> Stashed changes
