@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px;
    padding: 1px;

}

::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 6px;
    width: 4px;
    padding: 1px;
    height: 40px;
}

::-webkit-scrollbar-track {
    background-color: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

:root {
    overflow-x: hidden;
}