::-webkit-scrollbar {
    width: 0px;
    padding: 1px;

}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
    width: 0px;
    padding: 1px;
    height: 40px;
}

::-webkit-scrollbar-track {
    background-color: white;
}
